body{
    background-image: url('../images/background.jpg');
    background-size: 100%;
}

input{
    margin-right: 20px;
}

#start-container, #end-container, #timer{
    background-color: white;
    height: 250px;
    width: 600px;
    text-align: center;
    padding: 0;
}
#game-container{
    width: 600px;
    text-align: center;
    padding: 0;
}
#game-container, #end-container{
    display: none;
}

#timer{
    background-color: rgb(88, 124, 169);
    height: 100px;
}

p{
    margin: 0;
    border: black solid 1px;
}
.question-one, .question-five{
    background-color: rgb(143, 60, 24);
}

.question-two, .question-six{
    background-color: rgb(55, 10 ,13);
}

.question-three, .question-seven{
    background-color: rgb(78, 102, 159);
}

.question-four, .question-eight{
    background-color: rgb(36, 77, 33);
}
p:hover{
    background-color: rgba(50, 124, 147, .8);
    font-weight: bold;
}

h4{
    background-color: rgb(138, 173, 81);
    margin: 0;
}



